@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style> .social_icon2 ul {
     margin: 0;
     padding: 0;
     list-style: none;
     margin-left: 450px;
     margin-top: 300px
 }

 .gap {
     margin-right: 10px
 }

 .social_icon2 ul li:first-child {
     margin-left: 0px
 }

 .facebook {
     background: #2a66b3;
     border: 1px solid #2a66b3
 }

 .social_icon2 ul li a i {
     margin-right: 10px
 }

 .twitter {
     background: #35bbec;
     border: 1px solid #35bbec
 }

 .social_icon2 ul li a {
     float: left;
     border-radius: 4px;
     line-height: 40px;
     color: #fff;
     height: 40px;
     width: 110px;
     text-align: center;
     margin-bottom: 40px
 }

 .google {
     background: #e55644;
     border: 1px solid #e55644
 }

 .facebook:hover {
     background: #082b58;
     border: 1px solid #082b58
 }

 .twitter:hover {
     background: #0f607e;
     border: 1px solid #0f607e
 }

 .google:hover {
     background: #a52a1b;
     border: 1px solid #a52a1b
 }
 body {
    background: #000
}

.social_icons_rounded ul {
    padding: 0;
    list-style: none;
    margin-top: 200px;
    margin-left: 500px
}

.social_icons_rounded ul li a {
    float: left;
    border-radius: 50%;
    line-height: 40px;
    color: #000000;
    height: 40px;
    width: 40px;
    text-align: center;
    margin-bottom: 40px;
    border: 1px solid #000000
}

.social_icons_rounded ul li a i {
    font-size: 16px
}

.f_facebook:hover {
    color: #fff;
    background: #2a66b3;
    border: 1px solid #2a66b3
}

.t_twitter:hover {
    color: #fff;
    background: #35bbec;
    border: 1px solid #35bbec
}

.pinterest:hover {
    color: #fff;
    background: #cb2027;
    border: 1px solid #cb2027
}

.linkedin:hover {
    color: #fff;
    background: #007bb5;
    border: 1px solid #007bb5
}

.g_google:hover {
    color: #fff;
    background: #e55644;
    border: 1px solid #e55644
}

.dribbble:hover {
    color: #fff;
    background: #ea4c89;
    border: 1px solid #ea4c89
}

.skype:hover {
    color: #fff;
    background: #01aaf8;
    border: 1px solid #01aaf8
}

.flickr:hover {
    color: #fff;
    background: #ff0084;
    border: 1px solid #ff0084
}

.gap {
    margin-left: 15px
}

 </style>

 <body>
     
     <div class="social_icon2">
    <ul>
        <li><a href="#" class="gap facebook"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a> </li>
        <li><a href="#" class="gap twitter"><i class="fa fa-twitter" aria-hidden="true"></i>twitter</a> </li>
        <li><a href="#" class="gap google"><i class="fa fa-google-plus" aria-hidden="true"></i>google</a> </li>
    </ul>
</div>
 </body>